/* rgb(21, 21, 21) */
/* rgb(32, 32, 32) */
/* #5c7cfa */

textarea {
  height: 100px;
  width: 70%;
  resize: none;
}

.container {
  width: 1100px;
  /* border: solid 5px red; */
  margin: 0 auto;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 250px 700px;
  gap: 150px;
}

.container fieldset {
  width: 300px;
  text-align: center;
  height: 500px;
  border: #5c7cfa solid;
  border-radius: 12px;
}

.container legend {
  padding: 0 10px;
}

.containerCard {
  border: solid #5c7cfa 3px;
  border-radius: 15px;
  height: 500px;
}

.btn {
  background-color: transparent;
  color: #5c7cfa;
  border: 0;
  font-size: 50px;

  position: absolute;
  top: 520px;
  left: 255px;
}

.btn:hover {
  cursor: pointer;
}

.btnError {
  background-color: transparent;
  color: red;
  border: 0;
  font-size: 50px;

  position: absolute;
  top: 520px;
  left: 255px;
  cursor: not-allowed;
}

.btnError:hover {
  pointer-events: none;
}

.error {
  color: red;
  font-size: 13px;
  font-weight: 500;
}
