* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(21, 21, 21);
}

.cards {
  /* border: solid 5px blue; */
  display: grid;
  grid-template-columns: repeat(3, 323px);
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
}

.card {
  /* border: solid 5px red; */
  background-color: rgb(32, 32, 32);
  border-radius: 15px;
  text-align: center;
  height: 300px;
  color: #fff;
}

.genres {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.image img {
  height: 160px;
  width: 310px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  margin-top: 5px;
}
