* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(21, 21, 21);
  color: #fff;
}

.cards {
  /* border: solid 5px blue; */
  display: grid;
  grid-template-columns: repeat(3, 323px);
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
}

.card {
  /* border: solid 5px red; */
  background-color: rgb(32, 32, 32);
  border-radius: 15px;
  text-align: center;
  height: 300px;
  color: #fff;
  position: relative;
}

.rating {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #5c7cfa;
  font-weight: 700;
}

.card:hover {
  border: solid 2px #5c7cfa;
  cursor: pointer;
}

.genres {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.link img {
  height: 160px;
  width: 310px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  margin-top: 5px;
}

.link {
  text-decoration: none;
  color: #fff;
}

.link:visited {
  color: #fff;
}

/* .image:hover {
  cursor: pointer;
} */
