.container {
  font-family: sans-serif;
  font-size: 20px;
}

.card {
  border: solid #5c7cfa 3px;
  border-radius: 15px;
  height: 300px;
}

.subCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.title {
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  top: 30px;
  left: 540px;
}

.colorTitle {
  color: #5c7cfa;
}

.image {
  height: 170px;
  width: 300px;
  border-top-left-radius: 12px;
}

.contBtn {
  display: flex;
  column-gap: 5px;
  /* background-color: #5c7cfa; */
}

.btn:hover {
  cursor: pointer;
}
